In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.dummy import DummyRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.tree import plot_tree
from sklearn import set_config
set_config(display='diagram')

In [ ]:
df = pd.read_csv('/content/AAPL.csv')
df2 = pd.read_csv('/content/Decentraland.csv')

df3= pd.read_excel('/content/Spotify 2010 - 2019 Top 100 Songs.xlsx')

In [ ]:
df.head()

,Date,Low,Open,Volume,High,Close,Adjusted Close
0,12-12-1980,0.128348,0.128348,469033600,0.128906,0.128348,0.100326
1,15-12-1980,0.121652,0.122210,175884800,0.122210,0.121652,0.095092
2,16-12-1980,0.112723,0.113281,105728000,0.113281,0.112723,0.088112
3,17-12-1980,0.115513,0.115513,86441600,0.116071,0.115513,0.090293
4,18-12-1980,0.118862,0.118862,73449600,0.119420,0.118862,0.092911

In [ ]:
df2.head()

         Date      Open      High       Low     Close  Volume Currency
0  2017-11-09  0.014329  0.016111  0.013886  0.015130  653800      USD
1  2017-11-10  0.015162  0.015734  0.012645  0.012940  296429      USD
2  2017-11-11  0.013201  0.013616  0.011758  0.011979  237865      USD
3  2017-11-12  0.011975  0.011975  0.010125  0.010505  242761      USD
4  2017-11-13  0.010628  0.011660  0.010628  0.011330  225836      USD

In [ ]:
df3.head()

,title,artist,top genre,year released,added,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop,top year,artist type
0,STARSTRUKK (feat. Katy Perry),3OH!3,dance pop,2009,2022‑02‑17,140,81,61,-6,23,23,203,0,6,70,2010,Duo
1,My First Kiss (feat. Ke$ha),3OH!3,dance pop,2010,2022‑02‑17,138,89,68,-4,36,83,192,1,8,68,2010,Duo
2,I Need A Dollar,Aloe Blacc,pop soul,2010,2022‑02‑17,95,48,84,-7,9,96,243,20,3,72,2010,Solo
3,Airplanes (feat. Hayley Williams of Paramore),B.o.B,atl hip hop,2010,2022‑02‑17,93,87,66,-4,4,38,180,11,12,80,2010,Solo
4,Nothin' on You (feat. Bruno Mars),B.o.B,atl hip hop,2010,2022‑02‑17,104,85,69,-6,9,74,268,39,5,79,2010,Solo

In [ ]:
##The first two I'd like to combine and show (or try) corrialation between a blue chip stock like apple and meta verse crypto
## I would say this will be mostly regression 
## I'm going to try and create a new data set with the first 5 years of business for both 
## Then make predictions for both companies 
## the final test will be because we have the the info for apple already is seeing how that lines up agains model predicitons

In [ ]:
## The second one is a popular music that i I'm interested in seeing if there is a corrilation betweem the songs that currently cant be seen
## there will be 999 rows I beleive once i do some cleaning
## weird mix of classifiatoin and regression